@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Strada Dumbravei 017332<br />
    Bucuresti,Romania <br />
    <abbr title="Phone">P:</abbr>
    022.133.1231
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">suport@transport.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@transport.com</a>
</address>