@{
    ViewBag.Title = "Acasa";
    ViewBag.Admin = User.IsInRole("Admin");
    ViewBag.Client = User.IsInRole("Client");
    ViewBag.Driver = User.IsInRole("Driver");
}

<div class="jumbotron">
    <h1>Transport.NET</h1>
    <p class="lead">Aplicatie web de management al unei companii de transport/curierat</p>
    <p><a href="/home/contact" class="btn btn-primary btn-lg">Contacteaza-ne!</a></p>
</div>

<div class="row">
    @if (ViewBag.Client || ViewBag.Admin || ViewBag.Driver)
    {
        <div class="col-md-3">
            <h2>Pachete</h2>
            <p>
                See and manage your packages!
            </p>
            <p><a class="btn btn-success" href="/Package">Press here.</a></p>
        </div>
    }
    @if (ViewBag.Admin || ViewBag.Driver)
    {
        <div class="col-md-3">
            <h2>Masini</h2>
            <p>Vizualizeaza masinile disponibile !</p>
            <p><a class="btn btn-success" href="/Car">Press here.</a></p>
        </div>
    }

    @if (ViewBag.Admin)
    {
        <div class="col-md-3">
            <h2>Orase</h2>
            <p>Vizualizeaza,editeaza sau adauga orase!</p>
            <p><a class="btn btn-success" href="/City">Press here.</a></p>
        </div>
    }

    @if (ViewBag.Admin || ViewBag.Driver)
    {
        <div class="col-md-3">
            <h2>Transports</h2>
            <p>See and manage transports!</p>
            <p><a class="btn btn-success" href="/Transport">Press here.</a></p>
        </div>
    }
</div>