@{
    ViewBag.Title = "Acasa";
    ViewBag.Admin = User.IsInRole("Admin");
    ViewBag.Client = User.IsInRole("Client");
    ViewBag.Driver = User.IsInRole("Driver");
}

<div class="jumbotron">
    <h1>Transport.NET</h1>
    <p class="lead">Aplicatie web de management al unei companii de transport/curierat</p>
    <p><a href="/home/contact" class="btn btn-primary btn-lg">Contacteaza-ne!</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Pachete</h2>
        <p>
            Adauga sau viualizeaza pachetele tale!
        </p>
        <p><a class="btn btn-default" href="/Package">Apasa aici.</a></p>
    </div>
    @if (ViewBag.Admin || ViewBag.Driver)
    {
        <div class="col-md-3">
            <h2>Masini</h2>
            <p>Vizualizeaza masinile disponibile !</p>
            <p><a class="btn btn-default" href="/Car">Apasa aici.</a></p>
        </div>
    }

    @if (ViewBag.Admin)
    {
        <div class="col-md-3">
            <h2>Orase</h2>
            <p>Vizualizeaza orasele, editeaza-le sau adauga unele noi!</p>
            <p><a class="btn btn-default" href="/City">Apasa aici.</a></p>
        </div>
    }
</div>